autopep8==2.3.2
certifi==2025.6.15
charset-normalizer==3.4.2
decorator==4.4.2
Faker==18.3.1
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
install-jdk==1.1.0
jpype1==1.5.2
line_profiler==4.2.0
moviepy==1.0.3
numpy==2.3.0
packaging==25.0
pillow==11.1.0
proglog==0.1.12
py5==0.10.6a0
pycodestyle==2.13.0
pygame==2.6.1
python-dateutil==2.9.0.post0
pyxel==1.9.13
requests==2.32.4
six==1.17.0
stackprinter==0.2.12
tqdm==4.67.1
urllib3==2.5.0
